@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,700i&display=swap');

$theme-colors: (
	"primary": #3e1886,
	"bar-yes": #2c8f31,
	"bar-no" : #c21a23,
	"welcome-message" : #a07373,
	"main-block" : white
);

$body-bg:  rgb(250, 250, 250);
$btn-border-radius: 0px;
$dark: #363636;
$light: #ffffff;
$info: #3298dc;

// import must be after variables overrides
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';



// general style overrides and custom classes
body {
  font-family: 'Roboto', Verdana sans-serif;
}

.main-block {
	background-color: theme-color("main-block");
}
